.liveChat-icon {
    position: fixed;
    bottom: 5rem;
    right: 3rem;
    border: solid 3px #111;
    border-radius: 100%;
    background-color: #fff;
    padding: 0.5rem;
}

.liveChat-icon :hover {
    cursor: pointer;
}