.Product-detail-content {
    margin-top: 5rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5rem;
}

.col1 img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.col1 img:hover {
    cursor: pointer;
}

.col2 img {
    max-width: 100%;
    height: auto;
}

.col3 {
    text-align: left;
}

.product-quantity {
    display: flex;
    align-items: center;
    border: 2px solid;
    border-color: rgba(8, 8, 8, 0.4);
    width: fit-content;
}

.product-quantity * {
    margin: 0 0.8rem;
}

.product-quantity button {
    border: none;
    background-color: #fff;
}

.product-quantity button:last-child {
    background-color: #333;
    color: #fff;
    margin-right: 0;
}


/* Phần mô tả */
.product-long-desc div:first-child {
    width: fit-content;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    font-style: italic;
}

.product-long-desc div:nth-child(2) {
    font-style: italic;
    font-size: large;
    margin-bottom: 2rem;
}

.product-long-desc div:last-child {
    opacity: 0.5;
}


.Related-item {
    max-width: 25%;
    text-align: center;
    width: fit-content;
    text-decoration: none;
}

.Related-item img {
    max-width: 100%;
}

.Related-item div {
    color: #111;
}

.Related-item div:last-child {
    opacity: 0.5;
}

.Related-item a {
    width: fit-content;
    text-decoration: none;
}