.banner {
    width: 100%;
    background-image: url("../../Image/banner1.jpg");
    height: 25rem;
    background-size: 100%;
    background-repeat: no-repeat;
}



.banner-content {
    position: relative;
    width: 25%;
    top: 25%;
    left: 3%;
    font-style: italic;
}

.banner-content>div:first-child {
    color: #999;
    opacity: 0.7;

}

.banner-content button {
    background-color: #333;
    color: aliceblue;
    padding-left: 1rem;
    padding-right: 1rem;
    font-style: italic;
}